apiVersion: v1
kind: Service
metadata:
  name: microservicio-inventario
  labels:
    app: microservicio-inventario
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: microservicio-inventario